.back{
    background-image: url("https://images.unsplash.com/photo-1560803262-95a9de00a057?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
                    /* background-color: black; */
                    background-size:cover;
    }

   /*  .see-through{
        background-color: yellow;
    
    text-shadow: black;
    color: whitesmoke
    } */

.commentBg{
    background:rgba(0,0,0,0.4);
   
}

.feed{
    background:rgb(255, 255, 255,0.4)
}

.notOp{
opacity: 1.0
}

   @media screen {
        
   }

   @media screen and (min-width: 961px) and (max-width: 1880px){
    .foot{
        margin-top: 20em;
    }
    .bigAudio{
       
    }
   }

